* {
  font-family: helvetica;
  margin: 0;
}

#search {
  color: white;
}

.footerLinks {
  color: white;
}

nav {
  padding: 20px;
  background-color: black;
}

main {
  margin: 20px;
  padding-bottom: 20px;
}

section {
  margin-left: 20px;
  margin-bottom: 30px;

  padding: 10px 20px 20px 20px;
  border: 1px solid black;
}

h1 {
  padding-left: 5px;
  padding-bottom: 20px;
}

span {
  font-size: 11px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  color: grey;
}

hr {
  margin-top: 10px;
}

footer {
  color: white;
}

ul {
  list-style: none;
}
