/*	
CSS Rule Set:

Selector {
declaration block
}

h1 {
color: red;
property: value;
}
*/
h1 {
	color: red;
}
h2 {
	color: blue;
}

.outline {
	color: blue;
	border-bottom: 4px solid blue;
}
#lastElement {
	background-color: yellow;
	color: red;
}
/*
border
*/